@media only screen and (min-width: 650px) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* needed because of state in small view */
        flex: 1 1 100%;
    }

    .navigation li:first-child {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    header h1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    header p {
        text-align: left;
        grid-column: 2/3;
    }

    header img {
        grid-row: 1/3;
        width: 7em;
    }

    .heroimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .summary {
        position: absolute;
        font-size: .6rem;
        bottom: 1em;
        left: 1em;
    }

    .town {
        font-size: 2.75rem;
    }

    main {
        margin: 0 10% 0 10%;
    }

    .active {
        background-color: #4f5d73;
    }
    .cards{
        padding: 2em;
    }
    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    section:nth-child(odd) img{
        grid-row: 1/6;
        margin-top: auto;
        margin-bottom: auto;
    }
    section:nth-child(even) img{
        grid-row: 1/6;
        grid-column: 2/3;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    section h2, p{
        line-height: .05rem;
    }
    
}