/*typography*/
h1, h2, h3 { font-family: "fugaz one", Helvetica, sans-serif;}
body{font-family: "poppins", Helvetica, sans-serif;}
h1{color: #17827d;}
h1, h3 {color: #bb0a21;}
h1{font-size: 2rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1.25rem;}

/*Navigation*/

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}
nav ul li a {
	display: block;
	color: #050505;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
    background-color: #d9dade;
}
nav a:hover {
    color: #bb0a21;
    border-bottom: 2px solid #bb0a21;
    border-top: 2px solid #bb0a21;
}
.active {
    color: #115f5b;
    font-weight: bold;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
	display: none;
}
.responsive li {
	display: block;
}

/*Header*/

header{
    background-color: #d9dade;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header img{
    grid-column: 2/3;
    grid-row: 1/3;
}
header h1{
    font-size: 2.5rem;
    color: #17827d;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: right;
}
header h2{
color: #bb0a21;
font-size: 2rem;
margin-top: 0;
text-align: right;
}

/*main*/
main{
    margin: 2em;
    text-align: center;
}
main a{
    color: white;
    text-decoration: none;
    background-color: #bb0a21;
    text-align: center;
    padding: 0.75rem;
    font-size: 1.25rem;
    border-radius: 5px;
}
main a:hover{
    background-color: #17827d;
}

/*tours*/

.tour{
    background-color: #d9dade;
    margin: 3em;
    border-radius: 10px;
    max-width: 750px;
    padding: 1.5em;
    box-shadow: 0 0 20px;
}
.tour img{
    width: 100%;
}

.price{
    color: #115f5b;
    font-weight: bold;
}

/*footer*/

 footer{
     margin-top: 5em;
     background-color: #050505;
     color: #22bfb7;
     display: block;
     text-align: center;
     padding: 3em;
     font-size: 1.1rem;
 }
 footer a{
     color: #22bfb7;
 }
/*medium screen*/
@media only screen and (min-width: 1000px) {

    /*navigation*/
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
    }
    .navigation li:first-child {
        display: none;
    }
    nav a:hover {
        border-top: hidden;
        font-weight: bold;
    }
    .active{
        border-bottom: 2px solid #17827d;
    }

    section{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .tour{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    .tour img{
        grid-column: 2/3;
        grid-row: 1/4;
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 5px;
    }
    .tour p{
        grid-column: 1/2;
    }
    .tour:nth-child(odd) img{
        grid-column: 1/2;
        grid-row: 1/4;
    }
    .tour:nth-child(odd) p{
        grid-column: 2/3;
    }
    
}