@media only screen and (min-width: 74.5em){
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
header h1{
    grid-column: 2/4;
    text-align: center;
    font-size: 3rem;
}
header p{
    grid-column: 2/4;
    text-align: center;
}
header img{
    grid-column: 2/3;
    grid-row: 1/3;
    width: 9em;
}
.town{
    font-size: 2.5rem;
    text-align: center;
}
main, footer, .contact{
    margin: 0 17% 0 17%;
}
.town{
    font-size: 3rem;
}
.navigation li{
    font-size: 1.75rem;
}
.summary{
    font-size: .95rem;
}
.forecast img{
    max-width: 6em;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
article h2, h4, p{
    display: block;
    grid-column: 1/2;
}
article img{
    grid-column: 2;
    grid-row: 1/4;
    margin-left: 6em;
}
}