@media only screen and (min-width: 700px) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* needed because of state in small view */
        flex: 1 1 100%;
    }

    .navigation li:first-child {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    header h1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    header p {
        text-align: left;
        grid-column: 2/3;
    }

    header img {
        grid-row: 1/3;
        width: 7em;
    }

    .heroimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .summary {
        position: absolute;
        font-size: .6rem;
        bottom: 1em;
        left: 1em;
    }

    .town {
        font-size: 2.75rem;
    }

    main {
        margin: 0 10% 0 10%;
    }

    .active {
        background-color: #4f5d73;
    }
    h2{
        color: #d7dedc;
    }
    .forecast {
        display: flex;
        flex-direction: row;
    }

    .col {
        flex: 1 1 100%;
        border-top: 3px solid #3d2b3d;
        border-bottom: 3px solid #3d2b3d;
        border-left: 3px solid #3d2b3d;
        background-color: #d7dedc;
        font-size: 13px;
        text-align: center;
    }

    .forecast div:last-child {
        border-right: 3px solid #3d2b3d;
    }

    .day {
        display: block;
        padding: 5px;
        font-weight: 700;
        font-size: 15px;
        border-bottom: 1px solid #3d2b3d;
        background-color: #635d5c;
        color: #d7dedc;
    }

    .forecast div img,
    table img {
        border-radius: 100px;
        padding: 5px;
    }
    .temp {
        display: block;
        padding: 0 5px 5px;
        font-size: 1.5rem;
    }

    article h2{
        color: #3d2b3d;
    }
    article{
        border: 3px solid #3d2b3d;
    }
    .map{
        display: block;
        width: 50%;
        height: 50%;
    }
    .contact{
        display: flex;
    }
    .contact ul{
        margin:auto;
        line-height: 3rem;
    }
    article{
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    article h2, h4, p{
        display: block;
        grid-column: 1/2;
        margin: .5em;
    }
    article img{
        grid-column: 2/3;
        grid-row: 1/4;
        margin-left: 6em;
    }
}