@media only screen and (min-width: 1192px){
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
header h1{
    grid-column: 2/4;
    text-align: center;
    font-size: 3rem;
}
header p{
    grid-column: 2/4;
    text-align: center;
}
header img{
    grid-column: 2/3;
    grid-row: 1/3;
    width: 9em;
}
form label.sbs{
    padding: .4rem 0;
}
}
